<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/layout.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
  
  <title>Blogging Adda</title>
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/">Blogging Adda</a>
    </div>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create Post</a></li>
      <li><a href="/view">View Post</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
  </nav>
  