<script src="https://kit.fontawesome.com/38758aac5c.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
<script>document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.cont .card');
    cards.forEach((card, index) => {
        card.style.animationDelay = `${index * 0.5}s`; // Delay animation based on card index
    });
});
</script>
</body>

</html>